<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>home page</title>
<style>
    #fg{
        background: url('https://zupimages.net/up/22/17/trm7.png');
        background-color: #373737;
    }
</style>
</head>

<body class="d-flex flex-column min-vh-100" >
<div layout:fragment="content1" class=" bg-light" style="height: 600px" id="fg">
    <div class="container p-5">
        <h1 class="text-center ml-2  fw-bold mt-2 fst-italic">Gestion des étudiants</h1>
    </div></div>
</body>
</html>